*.log

*.pot

*.pyc

__pycache__

db.sqlite3

/server/asserts/

/client/cert/

# Logs
/entrance/logs
/entrance/*.log
/entrance/npm-debug.log*
/entrance/yarn-debug.log*
/entrance/yarn-error.log*
/entrance/pnpm-debug.log*
/entrance/lerna-debug.log*

/entrance/node_modules
/entrance/dist
/entrance/dist-ssr
/entrance/*.local

# Editor directories and files
/entrance/.vscode/*
/entrance/!.vscode/extensions.json
/entrance/.idea
/entrance/.DS_Store
/entrance/*.suo
/entrance/*.ntvs*
/entrance/*.njsproj
/entrance/*.sln
/entrance/*.sw?

# Logs
/client/logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/lerna-debug.log*

/client/node_modules
/client/dist
/client/dist-ssr
/client/*.local

# Editor directories and files
/client/.vscode/*
/client/!.vscode/extensions.json
/client/.idea
/client/.DS_Store
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?